extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col-md-6
					.box
						figure
							img.img-fluid(src="./img/product.jpg", alt="")
							figcaption.text
								h4 06 Tuần Tập Luyện Đẵng Cấp Cùng Huấn Luyện Viên Thể Hình...
								hr
								h3.h3 399,000
									sup đ
								h4.h4 1,500,000
									sup đ
							.logo
								img(src="./img/docquyen.jpg", alt="")
							.row.checkin0
								.col-md-5
									.row.checkin
										.col-md-4.checkin2
											img.img-fluid(src="./img/checkin.png", alt="")
										.col-md-8.checkin3
											p Quận 5
								.col-md-2
									p.price -73%
									p.transform 
								.col-md-5
									.row.voucher0
										.col-md-4
											.row.voucher
												.col-md-4.voucher2
													img.img-fluid(src="./img/smartphone_318-81372.jpg", alt="")
												.col-md-8.voucher3
													p E-Voucher
							.row
								.col-md
									i.fa.fa-user-o 10



				.col-md-6
					.box
						figure
							img.img-fluid(src="./img/product.jpg", alt="")
							figcaption.text
								h4 06 Tuần Tập Luyện Đẵng Cấp Cùng Huấn Luyện Viên Thể Hình...
								hr
								h3.h3 399,000
									sup đ
								h4.h4 1,500,000
									sup đ
							.clock
								i.fa.fa-clock-o.fa-rotate-100 Còn 15 ngày
									time 14:46:05
							.row.checkin0
								.col-md-5
									.row.checkin
										.col-md-4.checkin2
											img.img-fluid(src="./img/checkin.png", alt="")
										.col-md-8.checkin3
											p Quận 5
								.col-md-2
									p.price -73%
									p.transform 
								.col-md-5
									.row.voucher0
										.col-md-4
											.row.voucher
												.col-md-4.voucher2
													img.img-fluid(src="./img/smartphone_318-81372.jpg", alt="")
												.col-md-8.voucher3
													p E-Voucher
							.row
								.col-md.button
									b.btn.btn-success xem ngay
							.row
								.col-md
									b.fa.fa-user-o 10



